body {
  margin: 0px;
}

nav {
  width: 20%;
  height: 100%; /* full height */

  border-right: 1px solid black; /* navbar border */
  position: fixed;
}

ul {
  margin: 0px;
  padding-top: 100px;
  padding-left: 20px;
  list-style-type: none; /* delete marker */
}

li {
  padding: 10px;
}

a {
  display: block; /* vertical */
  text-decoration: none; /* delete underline */
  color: black;
}

.content {
  margin-left: 25%; /* next to the navbar, rest of the space */
}
